# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Build outputs
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Application properties (remove sensitive data before committing)
# src/main/resources/application.properties

### IDE ###
# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

### System ###
# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Help file
HELP.md

#application.properties
application.properties